<div class="neirong neirong-hide">
  <div class="neirong-bd"> <a href="{eyou:global name='web_basehost' /}" class="neirong-on">首页</a> {eyou:channel type="top" id="field" currentstyle="thisclass"} <a class="{$field.currentstyle}" href="{$field.typeurl}">{$field.typename}<i></i></a> {/eyou:channel} </div>
</div>
<div class="content nav-here">
  <div class="gf-logo">
    <h1><a href="{eyou:global name='web_basehost' /}" title="{eyou:global name='web_name' /}"></a></h1>
  </div>
  <header class="gf-header gf-header-side">
    <nav class="gf-pnav black"> <a href="{eyou:global name='web_basehost' /}"  class="neirong-on">首页<i></i></a> {eyou:channel type="top" id="field" currentstyle="thisclass"} <a class="{$field.currentstyle}" href="{$field.typeurl}">{$field.typename}<i></i></a> {/eyou:channel} </nav>
    <section class="buttonset buttonset-black">
      <div class="nav-moblie"><a href="javascript:;"></a></div>
    </section>
  </header>
</div>
{eyou:include file='wapfoot.htm'/}
<div class="navbar-fixed">
  <div class="container">
    <div class="logo pull-left"><a href="{eyou:global name='web_basehost' /}"><img src="{eyou:global name='web_logo' /}"/></a></div>
    <div class="right_menu pull-right hidden-xs"> <a href="{eyou:global name='web_basehost' /}"  class="neirong-on">首页<i></i></a> {eyou:channel type="top" id="field" currentstyle="thisclass"} <a class="{$field.currentstyle}" href="{$field.typeurl}">{$field.typename}<i></i></a> {/eyou:channel} </div>
  </div>
</div>
<aside class="aside-nav" style="opacity: 1">
  <div class="aside-nav-in">
    <!--<div class="aside-nav-one more-width more-width-call"><a href="javascript:;">
      <div class="aside-nav-one-img"><img src="{eyou:global name='web_templets_pc' /}/skin/images/icon_phone.png"></div>
      <div class="aside-nav-one-desc">{eyou:global name='web_attr_2' /}</div>
      </a></div>-->
    <div class="aside-nav-one more-width more-width-qq">
      <!--<div class="aside-nav-one-img"><img src="https://img.alicdn.com/imgextra/i3/2/O1CN01CKBp7N1EA1bbr1LWl_!!2-rate.png_40x40.jpg"></div>-->
      <div class="aside-nav-one-desc">
        <div class="qq-name-box">
          <div class="qq-name"> <a href="{eyou:global name='web_attr_5' /}" target="_blank" target="_blank"> <i style="background: url('https://img.alicdn.com/imgextra/i3/2/O1CN01CKBp7N1EA1bbr1LWl_!!2-rate.png_40x40.jpg') no-repeat center/contain;"></i> <span>管理面板</span> </a> </div>
          <div class="qq-name"> <a href="{eyou:global name='web_attr_6' /}" target="_blank" target="_blank"> <i style="background: url('https://img.alicdn.com/imgextra/i3/2/O1CN01TNdkDy1EA1bb19oBV_!!2-rate.png') no-repeat center/contain;"></i> <span>GitHub</span> </a> </div>
          <div class="qq-name"> <a href="{eyou:global name='web_attr_7' /}" target="_blank" target="_blank"> <i style="background: url('https://img.alicdn.com/imgextra/i2/2/O1CN01Qb8jQ31EA1bkbh8ww_!!2-rate.png') no-repeat center/contain;"></i> <span>客服</span> </a> </div>
        </div>
      </div>
    </div>
    <div class="aside-nav-one more-width back-top"><a href="javascript:;">
      <div class="aside-nav-one-img"><img src="{eyou:global name='web_templets_pc' /}/skin/images/icon_top.png"></div>
      <div class="aside-nav-one-desc">返回顶部</div>
      </a></div>
  </div>
</aside>
