<div class="fix-nav-btm"> <a style="color:#828282" href="http://wpa.qq.com/msgrd?v=3&amp;uin={eyou:global name='web_attr_5' /}&amp;site=qq&amp;menu=yes">
  <div class="fnb-one" id="J-call-qq">
    <div class="fnb-one-img"><img src="{eyou:global name='web_templets_pc' /}/skin/images/fnb-one-img-1.png"></div>
    <div class="fnb-one-desc">QQ联系<img src="{eyou:global name='web_templets_pc' /}/skin/images/fnb-one-img-arrow.png"></div>
  </div>
  </a> <a style="color: #828282" href="tel:{eyou:global name='web_attr_2' /}">
  <div class="fnb-one">
    <div class="fnb-one-img"><img src="{eyou:global name='web_templets_pc' /}/skin/images/fnb-one-img-2.png"></div>
    <div class="fnb-one-desc">电话联系<img src="{eyou:global name='web_templets_pc' /}/skin/images/fnb-one-img-arrow.png"></div>
  </div>
  </a> <a style="color: #828282" href="tel:{eyou:global name='web_attr_1' /}">
  <div class="fnb-one">
    <div class="fnb-one-img"><img src="{eyou:global name='web_templets_pc' /}/skin/images/fnb-one-img-3.png"></div>
    <div class="fnb-one-desc">手机联系<img src="{eyou:global name='web_templets_pc' /}/skin/images/fnb-one-img-arrow.png"></div>
  </div>
  </a> </div>
